<div class="container">
	<div class="team-players">
		<div class="player" *ngFor="let player of viewMethods.allPlayers(teams!,teamPlayersByTeam!)">
			{{player.playerName}}
		</div>
	</div>
	<form [formGroup]="oneTwoForm!" class="one-two-controls">
		<mat-button-toggle-group
			name="player1_controls_group"
			aria-label="Font Style"
			multiple
			formControlName="oo"
			(change)="viewMethods.toggleChange($event,oneTwoForm!)"
		>
			<mat-button-toggle value="t1">
				<img src="assets/one-two.svg">
			</mat-button-toggle>
			<mat-button-toggle value="t2">
				<img src="assets/one-two.svg">
			</mat-button-toggle>
		</mat-button-toggle-group>
	</form>
	<form [formGroup]="scoresForm!" class="points">
		<div *ngFor="let team of teams">
			<mat-form-field appearance="fill">
				<mat-label>Points</mat-label>
				<mat-select [formControlName]="team.id"
							(selectionChange)="viewMethods.pointsChanged($event,teams!,scoresForm!)">
					<mat-option *ngFor="let points of validPointsOptions" [value]="points">
						{{points}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>


		<div>
			<mat-form-field appearance="fill">
				<mat-label>
					Who finished first
				</mat-label>
				<mat-select formControlName="finishedFirst">
					<mat-option *ngFor="let player of viewMethods.allPlayers(teams!, teamPlayersByTeam!)"
								[value]="player">
						{{player.playerName}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

	</form>
	<div class="total-score">
		<h2>
			Total
		</h2>
		<div class="scores-of-teams">
			<div *ngFor="let team of teams">
				{{viewMethods.scoreOfTeam(team.id, scoreByTeam!, playersTichu!, teamPlayersByTeam!, scoresForm!, oneTwoForm!)}}
			</div>

		</div>
	</div>
	<div class="ok">
		<button mat-stroked-button color="primary" (click)="viewMethods.setScore()">OK</button>
	</div>
</div>
